html{
    font: 18px/1 sans-serif;
    background: #999;
    color: #111;
}
body{
    margin: 0;
    text-align: center;
}
a{
    text-decoration: none;
    color: inherit;
}
h1{
    font-size: 2.4em;
}
.output-box{
    position: relative;
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    img{
        display: block;
        width: 100%;
        background: #FFF;
    }
    .long-press-tip{
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 4px 10px;
        &:before{
            content: '';
            display: block;
            width: 46px;
            height: 46px;
            border-radius: 80px;
            box-shadow:0 0 0 1px #000 inset;
        }
        &:after{
            content: '长按';
            font-size: 12px;
            line-height: 20px;
        }
        opacity: 0;
        pointer-events: none;
        animation: opa 3s infinite;
    }
    @keyframes opa {
        70%{
            opacity: 1;
        }
    }
}


.canvas-box{
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
}

.config-box{
    padding:4px 8px;
}
.label-item{
    padding:4px 0;
    h5{
        font-weight: normal;
        margin: 0;
        padding: 0 0 4px;
        color: #666;
        display: none;
    }
}
.ui-input{
    font: inherit;
    outline: 0;
    padding: 8px 10px;

    width: 240px;
    border: 0;
    border-radius: 3px;
}

.ctrl-box{
    padding: 4px 0;
}
.ui-btn{
    font: inherit;
    padding: 14px;
    margin: 0 4px;
    border: 0;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    background: #222;
    &:disabled{
        background: #666;
        cursor: not-allowed;
        pointer-events: none;
    }
}
.generate-btn{
    &:before{
        content: '生成斜着看图片';
    }
    &:disabled{
        &:before{
            content: '生成成功，长按或右键存图';
        }
    }
}
@media (max-width: 600px) {
    .ui-input{
        box-sizing: border-box;
        width: 100%;
    }
}
@media (min-width: 400px) {
    .long-press-tip{
        display: none;
    }
}

blockquote{
    color: #666;
}
footer{
    padding: 100px 10px;
    a{
        margin: 0 4px;
    }
}
